.hexagon {
  width: 10rem;
  height: 5.55rem;
  background: red;
  position: relative;
  margin-left: 0.1rem;
  margin-top: 1rem;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-bottom: 2.5rem solid red;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-top: 2.5rem solid red;
}