body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
}

.hexagon {
  width: 10rem;
  height: 5.55rem;
  background: red;
  position: relative;
  margin-left: 0.1rem;
  margin-top: 1rem;

  @include element('value') {
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    left: 3.5rem;
    top: 1.525rem;
    position: absolute;

    p {
      line-height: 2.5rem;
      text-align: center;
      vertical-align: middle;
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

}
.hexagon:before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-bottom: 2.5rem solid red;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-top: 2.5rem solid red;
}